<footer class="page__footer footer">
  <div class="container">
    <a class="logo footer__logo" href="https://www.ibrush.ru/" target="_blank">
      <img class="logo__image" src="img/ibrush.svg" width="55" height="12" alt="Логотип Айбраш">
    </a>
  </div>
</footer>
