<header class="page__header header">
  <div class="container">
    <a class="logo header__logo" href="https://www.ibrush.ru/" target="_blank">
      <img class="logo__image" src="assets/svg_icons/ibrush.svg" width="55" height="12" alt="Логотип Айбраш">
    </a>
  </div>
</header>
